<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to YelpCamp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="newcss.css">
    </head>
    <body>
<main>
  <section>
<h1>YelpCamp</h1>
<h3>It's a legitimate strategy</h3>

</section>
</main>
        <script type="text/javascript" src="newjavascript.js"></script>
    </body>
</html>