<% layout("/boilerplate") %>
<main>
  <section>
    <h1>All the campgrounds</h1>
    <a href="/campgrounds/new"> Create a new campground</a>

    <ul id="indexList">
      <% for (var i=0; i < campgrounds.length; i++){ %>
      <li id="indexItem">
        <h3><a href="/campgrounds/<%= campgrounds[i]._id%>"> <%= campgrounds[i].title%></a></h3>
        <p>Cost per night: £<%= campgrounds[i].price%></p>
        <p><%= campgrounds[i].description%></p>
      </li>
      <% } %>
      <ul>
  </section>
</main>
<!-- <script type="text/javascript" src="newjavascript.js"></script> -->