<% layout("/boilerplate") %>
    <main>
        <h1>Login</h1>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" required><br>
            </div>
            <div>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required><br>
            </div>
            <button>Login</button>
        </form>
    </main>